

#con1,#con2,#con3,#con4{
    margin-top: 4%;
    width: 70%;
    height:11%;
}
#btn{
    margin-top: 8%;
    width: 50%;
    height:11%;
    border-radius: 0.7rem;
    background-color: azure;
}
