#imgnav{
    position: absolute;
  top: 8px;
  left: 16px;
}

#con1,#con2,#con3,#con4{
    margin-top: 4%;
    width: 70%;
    height:11%;
}
#btn{
    margin-top: 8%;
    margin-bottom:2vw;
    width: 50%;
    height:11%;
    border-radius: 0.7rem;
    background-color: azure;
}
#cont{
    margin-top:10vh;width: 100%;margin-bottom: 5vw;
}
#log{
    width:12vw;
}
#for{
    width:25%;height:100%;border-width:3px;border-style:solid;border-color:black;border-radius:0.5rem;background-color: grey;
}
@media screen and (max-width:800px){
    #log{
        width:22vw;
    }
    #for{
        width: 60%;height:80%;
    }
}

#prof1{
    width: 12vw;
}

#form{
    width:30vw;border-style: solid;border-color:black;border-width: 3px;border-radius:1rem;box-shadow: 3px 8px;
}

@media only screen and (max-width: 800px){
    #prof1{
        width: 22vw;
    }
    #form{
        width: 60vw;
    }
}

