#fade{
    float: left;
}
#card{
    margin-left:2vw;
    width:24vw;
    height:35vw;
}
#display1{
    height:100vw;display: none;border-radius: 2rem;border-width:4px;border-color:black;width:90vw;border-style: solid;opacity:0.9;background-image: linear-gradient(to bottom right, rgb(6, 6, 6), rgb(243, 243, 233));

}
#logo1{
    width: 12vw;
}
#head1{
    margin-top: 5vw;
}
#checkout{
    cursor:pointer;text-decoration: none;color:black;background-color:rgb(240, 9, 9);width:80%;height:5%;border-style:solid;border-width:1px;border-color:black;border-radius:1rem;width:80%;height:30px;
}
#checkoutone{
    cursor:pointer;text-decoration: none;color:black;background-color:rgb(240, 9, 9);width:80%;height:5%;border-style:solid;border-width:1px;border-color:black;border-radius:1rem;width:80%;height:28px;
}
#checkouttwo{
    cursor:pointer;text-decoration: none;color:black;background-color:rgb(240, 9, 9);width:80%;height:5%;border-style:solid;border-width:1px;border-color:black;border-radius:1rem;width:80%;height:30px;
}
@media screen and (max-width: 800px){
    #fade{
        float:none;
    }
    #card{
        margin-top: 15vw;
        margin-left:-4vw;
        width: 55vw;
        height: 70vw;
    }
    #display1{
        height:330vw;
    }
    #logo1{
        width: 29vw;
    }
}
